body{
    margin:auto;
    @media (min-width: 1024px) {
        display: grid;
        place-items: center;
        height: auto; /* Adjust the height as needed */
        background: linear-gradient(to bottom left, #626263, #26292d);
      }
}

link{
    text-decoration:none;
}

a{
    text-decoration:none;
    color:inherit;
}
